node_modules
dist
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/

# Tests and configs not needed in container
*.test.*
*.spec.*
coverage/

# Project-specific exclusions
banner.png
README.md
README_RU.md
example/
